html {
    background-image: url("https://res.cloudinary.com/doaazgsrk/image/upload/v1593449353/Mistery%20Vegetable/fruit_and_vegetable_aj2ioa.jpg");
    background-size: cover;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 38rem;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10rem;;
    border-radius: 2rem;
}

/* Header starts here */
header img {
    max-width: 10rem;
    height: auto;
}

h1 {
    margin-bottom: 0;
}

header span {
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    position: relative;
    bottom: 2.5rem;
}

header h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

hr {
    width: 50%;
    border-top: 2px solid goldenrod;
}
/* Header ends here */

/* Main starts here */
span {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1.25rem;
}

main hr {
    width: 10%;
    margin-top: 1.5rem;
    border-top: 2px solid goldenrod;
}

.budget-section label {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.budget-section img {
    width: 2rem;
    height: auto;
}

#stack {
    width: 2.5rem;
    height: auto;
}

#pile{
    width: 3rem;
    height: auto;
}

input[type=number] {
    width: 2rem;
}

.spice-level-section img {
    width: 2rem;
    height: auto;
}

#hot {
    transform: rotate(-40deg);
}

.weekly-meal-section label{
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1.25rem;
}

.fruit-veg-section label {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;;
}

.flavor-section span {
    margin-bottom: 1.5rem;
}

.flavor-section label {
    margin-left: 1rem;
    margin-right: 1rem;
}

.allergy-section label {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;;
}
/* Main ends here */